.employees-employee-title-ctr {
    display: flex;
    min-width: 25.5rem;
}

.employees-title-ctr {
    gap: 0.85rem;
    flex-shrink: 0;
}

#employees-list-li-header, #employees-list-li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-auto-columns: 1fr 3fr 0.7fr;
}

.employee-table-header-span {
    white-space: nowrap;
}