/* Welcome banner  Welcome banner Welcome banner Welcome banner Welcome banner */

.home-welcome-banner-ctr {
    display: flex;
    padding: 1.85rem 4.5rem;
    gap: 1rem;
}

.welcome-banner-img-ctr, .rounded-img-ctr{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.welcome-banner-img-ctr > svg, .rounded-img {
    width: 100%;
    height: 100%;
    background-color: var(--clr-navy-navigation);
    color: var(--clr-white);
}

.welcome-banner-txt-ctr {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-shrink: 0;
}

.welcome-banner-txt-ctr-teams-ctr {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.welcome-banner-txt-ctr-teams-ctr .welcome-banner-teams-list {
    display: flex;
    gap: 0.45rem;
    max-width: 83.5rem;
    overflow: hidden;
}

.welcome-banner-txt-ctr-title-ctr > h3 {
    font-size: var(--fs-180);
    color: var(--clr-txt-accent3);
}

.welcome-banner-txt-ctr-teams-ctr span {
    display: block;
    font-size: var(--fs-088);
    color: var(--clr-txt-accent1);
    font-weight: bold;
}

/* Welcome banner  Welcome banner Welcome banner Welcome banner Welcome banner */

/* My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs */

.home-myokrs {
    padding: 1.85rem 4.5rem;
}

#okrs-list-li-header, #okrs-list-li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-auto-columns: 1fr 3fr;
}

.okrs-list-li-header-title-header {
    min-width: 20.65rem;
}


.myokrs-header {
    margin-bottom: 1.65rem;
}

.myokrs-header div span{
    font-size: var(--fs-115);
    font-weight: bold;
    color: var(--clr-txt-accent2);
}

.hide-managing {
    visibility: hidden;
}

#myokrs-no-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--clr-whitesmoke-teamchip);
    padding: 2rem;
}

#myokrs-no-content > button {
    background-color: var(--clr-linkblue);
    color: var(--clr-white);
    padding: 0.5rem 1.35rem;
    border-radius: 32px;
    font-size: var(--fs-088);
    font-weight: bold;
    width: 8%;
    margin-inline: auto;
}

#myokrs-no-content > button:hover {
    background-color: var(--clr-linkblue-hovered);
}

#myokrs-no-content h3 {
    margin-top: 1.35rem;
    font-size: var(--fs-088);
    color: var(--clr-txt-accent1);
}


/* My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs My OKRs */

