.okr-card {
    margin-top: 20px;
    /* padding: 50px; */
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    float: left;
    height: auto;
    border: 1px gray solid;
}

.okr-header {
    height: 15%;
    background: gray;
    color: white;
    text-align: center;
}

.okr-container {
    padding: 2px 16px;
}