@import "nav.css";
@import "dropdown.css";
@import "modal.css";
@import "home.css";
@import "login.css";
@import "register.css";
@import "create.css";
@import "details.css";
@import "teams.css";
@import "teamsdetails.css";
@import "employees.css";
@import "employeedetails.css";
/* @import "details2.css"; */
@import "okr.css";