#teams-modal {
    width: 25%;
    height: 25%;
    background-color: white;
    margin: auto;
    border: 5px solid lightgray;
    font-family: 'IBM Plex Mono', monospace;
}

#teams-modal-titles {
    border: 5px solid lightgray;
}

#teams-modal-teamName {
    padding: 5px;
    margin: 15px;
    display: block;
}

#teams-modal-teamManager {
    padding: 5px;
    margin: 15px;
    display: block;
}

#teams-modal-members {
    border: 5px solid lightgray;
}