.teams-list {
    padding: 1.85rem 1.5rem;
}

.teams-header {
    margin-bottom: 0.65rem;
}

.teams-header div:nth-of-type(1) {
    padding-left: 4rem;
}



#teams-list-li-header, #teams-list-li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-auto-columns: 1fr 3fr 0.7fr;
}

.teams-list-team {
    border-top: 2px solid var(--clr-whitesmoke-teamchip);
    padding-block: 1.5rem;
}

.teams-list-team:hover {
    background-color: var(--clr-whitesmoke-teamchip);
}

.teams-header div span {
    font-size: var(--fs-075);
    color: var(--clr-txt-accent1);
}

.teams-team-title-members-ctr {
    display: flex;
    gap: 0.85rem;
}

.teams-team-img-ctr {
    height: 52px;
    width: 52px;
}

.teams-team-title-members-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9rem;
}

.teams-team-title-members h3 {
    color: var(--clr-txt-accent3);
}

.teams-team-title-members span {
    color: var(--clr-txt-accent1);
    font-size: 0.7rem;
    font-weight: unset;
}

.teams-team-description {
    margin-bottom: 1rem;
}

.teams-team-description > p {
    color: var(--clr-txt-accent2);
    font-size: var(--fs-088);
}

.teams-no-content {
    text-align: center;
    width: 30rem;
    margin-inline: auto;
    margin-top: 3.5rem;
}

.teams-no-content p:nth-of-type(1) {
    font-size: var(--fs-135);
    color: var(--clr-txt-accent3);
    margin-bottom: 0.25rem;
}

.teams-no-content p:nth-of-type(2) {
    color: var(--clr-txt-accent1);
    margin-bottom: 1.5rem;
    font-size: var(--fs-088);
}

.teams-no-content button {
    background-color: var(--clr-linkblue);
    color: var(--clr-white);
    border-radius: 32px;
    padding: 0.5rem 1.35rem;
    font-size: var(--fs-088);
}

.teams-no-content button:hover {
    background-color: var(--clr-linkblue-hovered);
}


